ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
  }

  
li.nav {
    float: right;
  }
  
li a.nav {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover.nav {
    color: #3E92CC;
  }

  p {
    color: red;
  }

