@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Jost:wght@400;600;800&display=swap');

body, html {
    height: 100%;
    margin: 0;
    }

body {
    background-color:  #FFFAFF;
    padding-top: 0px;
    padding-bottom: 0px;
  }

/* Nav Bar -------------------------------------------------------*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
  }

  
  li.nav {
    float: right;
  }
  
  li a.nav {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    
  }
  
  li a:hover.nav {
    color: #3E92CC;
  }
  
  
    /* Hero Image , index.html --------------------------------------------------------*/

.heroholder{
    background-repeat: no-repeat;
}

    .hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("popcornheader.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #E0CA3C;
    text-align: center;
    cursor: pointer;
  }

 
  
  .hero-text button:hover {
    background-color: black;
    color: #E0CA3C;
  }


  .hero-text2 button {
    border-style: solid;
    border-width: 2%;
    border-color: #E0CA3C;
    color: black;
    background-color: #e0ca3c00;
    text-align: center;
    cursor: pointer;
  }

  .hero-text2 button:hover {
    background-color: #E0CA3C;
    color: black;
    
  }

  .button-holder {
    display: inline-block;
  }

  /* Heading Fonts -----------------------------------------------------------*/
  h1 {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    color: #D8315B;
  }

  h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    color:  #3E92CC;
  }
  
    h3 {
        font-family: 'Jost', sans-serif;
        font-weight: 600;
        color: #D8315B;
    }

    p {
        font-family: 'Jost', sans-serif; 
        font-weight: 400;
        font-size: 16px;
        color: black;
    }

.attribution {
    font-family: "Times New Roman", serif
}

  /*----------------------------Footer CSS--------------------------------------- */
  footer {
    text-align: left;
    padding: 2%;
    color: black;
  }
  .p2  /* Paragraph Footer */ {
    font-family: "Jost", serif;
    font-weight: 400;
    font-size: 5px
  }

    .fa {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%; /* makes box rounded */
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-instagram {
    background: #3E92CC;
    color: white;
  }
  
  .fa-linkedin {
    background: #3E92CC;
    color: white;
  }
  

  /* Popping 101 ---------------------------------------------------------------------------- */
.popping-101-container {
   text-align: center;
   display: block;
   /* Centers the 3 images on the page */
}

  .popping-101-images {
    display: inline-block;
    text-align: center;
    /* Displays images in a line */
}

.cover {
    object-fit: cover;
    opacity: .3;
} 

.placeholder{
    position: relative;
    display: inline-block;
}

.placeholder .centered-p101{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);/* Puts text in the middle of the pictures */
}

/* Kernels ---------------------------------------------------------------------*/

ul.kernel {
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
}

li.kernelmain {
    list-style-type: none;
}

li.kernel {
    list-style-type: circle;
}

  /* Topping Salts ---------------------------------*/
  dl {
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
  }

  dt {
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
  }

  dd {
    font-family: 'Jost', sans-serif; 
    font-weight: 400;
  }

  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }

  /* About Me --------------------------------------------------------------*/

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }